body{
	font-family: 'Josefin Sans', sans-serif;
}
a{
	color: gray;
}
th,td{
	border: 1px solid #ccc;
	padding: 2%;
}
img{
	width: 100%;
}

/*Estilos reutilizables*/

.bg-gray-low{
	background-color: #eee;
}
.bg-white{
	background-color: white;
}
.bold-600{
	font-weight: 600;
}
.padding-2-per{
	padding: 2%;
}
.mt-62{
	margin-top: 62px;
}
.list-character{
	font-size: 15px;
	list-style: none;
}
.list-character span{
	font-weight: 400;
}
table{
	margin-top: 18px;
}
